# Flask & Core Services
flask
flask-cors
requests

# Speech-to-Text (backend)
faster-whisper

# Image Generation (Diffusion Model)
torch
diffusers
transformers
accelerate

# Face Recognition (face_recognition)
deepface
numpy==1.26.4
scikit-learn
opencv-python
retina-face
tf-keras
pillow

# Image Generation (Hugging Face)
huggingface_hub
python-dotenv
bitsandbytes
sentencepiece
protobuf
